@import 'src/styles';

:host {

    .navBar {
        position: fixed;
    }

    .content {

        position: absolute;
        display: flex;
        flex-direction: column;
        
        width: 100%;
        margin-top: 70px;

        gap: 40px;
    
        .disclaimer {
            
            text-align: center;
            padding: 40px;
            background-color: rgba($color: $almostBlack, $alpha: .1);
            color: $mediumGray;
            font-size: .7em;
        }
    }

}