<div class="nav"
[class.dim]="menuOpened"
>
    <img class="homeIcon" src="assets/images/logo.svg" alt="">

    <div class="menu">

        <div class="menuItems">
            <div class="menuItem">
                <p>Features</p>
                <img src="assets/images/icon-arrow-down.svg" alt="" class="chevronDown">
            </div>
            <div class="menuItem">
                <p>Company</p>
                <img src="assets/images/icon-arrow-down.svg" alt="" class="chevronDown">
            </div>
            <div class="menuItem">Carreers</div>
            <div class="menuItem">About</div>
        </div>

    </div>

    <div class="button login">Login</div>
    <div class="button register">Register</div>

    <img class="menuIcon" src="assets/images/icon-menu.svg" alt=""
    (click)="openMenu()"
    >
</div>

<div class="mobileMenu"
    [class.menuOpened]="menuOpened">

    <div class="content">

        <img src="assets/images/icon-close-menu.svg" alt="" class="closeIcon"
        (click)="closeMenu()"
        >
    
        <div class="menuItems">
            <div class="menuItem">
                <p>Features</p>
                <img src="assets/images/icon-arrow-down.svg" alt="" class="chevronDown">
            </div>
            <div class="menuItem">
                <p>Company</p>
                <img src="assets/images/icon-arrow-down.svg" alt="" class="chevronDown">
            </div>
            <div class="menuItem">Carreers</div>
            <div class="menuItem">About</div>
        </div>

    </div>

</div>