/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$almostWhite: hsl(0, 0%, 98%);
$mediumGray: hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

$sizeThreshold: 720px;


html, body {
    margin: 0;
    padding: 0;
    background-color: $almostWhite;
    font-family: 'Epilogue', sans-serif;
}