<img class="mobileHero" src="assets/images/image-hero-mobile.png" alt="">

<div class="info">

    <div class="title">Make remote work</div>
    <div class="description">Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</div>
    <div class="button">
        Learn More
    </div>

    <div class="logos">
        <img src="assets/images/client-databiz.svg" alt="">
        <img src="assets/images/client-audiophile.svg" alt="">
        <img src="assets/images/client-meet.svg" alt="">
        <img src="assets/images/client-maker.svg" alt="">
    </div>

</div>

<img class="desktopHero" src="assets/images/image-hero-desktop.png" alt="">
